body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('https://avatars.mds.yandex.net/i?id=652a04b50f8dc273ffedacad000643f533e49f1f-4560317-images-thumbs&n=13');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .ima{
    width: 3%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
  }

  .circle {
     position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: transform 1.2s ease-in-out;
        margin-top: 150px;

  }
  .circle:hover {
    transform: scale(1.15);
  }
  
  .word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  button {
    margin-top: 20px;
    width: 110px;
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, box-shadow 0.8s ease-in-out;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  button:hover {
    transform: scale(0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  #counter {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
  }

  #buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }

  #found {
    background-color: #4CAF50;
  }

  #not-found {
    background-color: #f44336;
  }

  a{
    text-decoration: none;
  }

  